transformers
torch
torchvision
torchaudio
openai
scipy
numpy
rich
datasets
scikit-learn
fuzzywuzzy
rouge
accelerate
huggingface-hub
jieba
levenshtein
spacy
vllm
fschat[model_worker,webui]
bitsandbytes
google-generativeai
google-genai
anthropic